<%= form_for(recipe) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %>

<!-- <p>Do simple form for @add_new_recipe</p> -->
<!-- <p>Do simple form for @@edit_old_recipe</p> -->
<!-- <p>Link for share on facebook / instagram / all this bullshit </p> -->
