<h5>#Home</h5>
<div class='section_banner'>
  <div class="banner">
    <h3>WHAT ARE WE</h3>
    <h1>VIP-COOK <strong>Qu'est ce que c'est ?</strong></h1>
    <p>Pourquoi utiliser VIP-COOK ?</p>
    <h4>APP</h4>
    <ul>
      <li>Vous pouvez utiliser tous seul et répertoirier votre livre de recettes.</li>
      <li>Vous pouvez calculer tous vos cout de production par personnes</li>
      <li>Vous pouvez savoir si votre plat est Vegan / Vegetarien / de Saison</li>
    </ul>
    <h4>PROFIL</h4>
    <ul>
      <li>Vous pouvez faire la promo de votre recette</li>
      <li>Vous pouvez vendre votre technique</li>
      <li>Vous pouvez vendre vos plats dans votre région</li>
    </ul>
      <%= link_to "Cookbook", recipes_path %>
      <%= link_to "Télécharger", root_path %>
  </div>
</div>
<div class='section_content'>
  <div class="content">
    <h3>WHAT YOU DO</h3>
    <h1>Livre de recette</h1>
    <p>Remplir vos recettes et les gérer</p>
    <ul>
      <li>Calculer vos cout de production</li>
      <li>Définir prix de vente et calculer vos bénéfices</li>
      <li>Générer votre liste de courses</li>
      <li>Connaitre la saison de votre recette</li>
      <li>Impliquer les producteurs de votre région.</li>
    </ul>
    <%= link_to  "Créer une nouvelle Recette", new_recipe_path %>

  </div>
</div>
<div class="section_atout">
  <h3>HAVE AN IMPACT</h3>
  <h1>Ingrédients</h1>
    <p>Choisir parmi une large sélection d'ingrédients pré-enregisté ou ajouté les votres</p>
    <ul>
      <li>Générer votre liste de courses</li>
      <li>Connaitre la saison de votre recette</li>
      <li>Impliquer les producteurs de votre région.</li>
    </ul>
    <%= link_to 'ALL MY INGREDIENTS', ingredients_path %>
    <%= link_to 'ADD INGREDIENTS', new_ingredient_path %>
</div>

<div class="section_tool">
  <h3>BY THE WAY YOU DO IT</h3>
  <h1>Calcul de coût, liste de course</h1>
  <ul>
    <li>Définir prix de vente et calculer vos bénéfices</li>
  </ul>
</div>

<div class="section_contact">
  <h3>WHO WE ARE</h3>
  <div class="contact">
    <h3>Nous Contactez</h3>
  </div>

</div>
