<h1>home web app</h1>


<%= link_to "Cookbook", recipes_path %>
<%= link_to  "Create new recipe", new_recipe_path %>

<div class='section_banner'>
  <div class="banner">
<%= link_to "Cookbook", recipes_path %>
<h1>VIP-COOK <strong>APP POUR ARRONDIR VOS FIN DE MOIS</strong></h1>
    <p>Pourquoi utiliser VIP-COOK ?</p>
    <ul>
      <li>APP</li>
      <li>Vous pouvez utiliser tous seul et répertoirier votre livre de recettes.</li>
      <li>Vous pouvez calculer tous vos cout de production par personnes</li>
      <li>Vous pouvez savoir si votre plat est Vegan / Vegetarien / de Saison</li>
      <li>SITE</li>
      <li>Vous pouvez faire la promo de votre recette</li>
      <li>Vous pouvez vendre votre technique</li>
      <li>Vous pouvez vendre vos plats dans votre région</li>
    </ul>
  </div>
</div>
<%= link_to  "Create new recipe", new_recipe_path %>
<div class='section_content'>
  <div class="content">
    <a href="#" class="button">JE DECOUVRE</a>
    <h1>CookBook</h1>
    <p>Remplir vos recettes et les gérer</p>
  </div>
</div>
<%= link_to 'ALL MY INGREDIENTS', ingredients_path %>
<%= link_to 'ADD INGREDIENTS', new_ingredient_path %>


<div class="section_contact">
  <div class="contact">
    <a href="#" class="button">JE DECOUVRE</a>
    <h1>how does it work ?</h1>
    <p>VIP-COOK .</p>
  </div>
</div>
