<h1>home web app</h1>


<%= link_to "Cookbook", recipes_path %>
<%= link_to  "Create new recipe", new_recipe_path %>

<div class='section_banner'>
  <div class="banner">
<%= link_to "Cookbook", recipes_path %>    <h1>COOKBOOK <strong>Recipes</strong></h1>
    <p>VIP-COOK est une application qui va vous faire gagner du temps et de l'argent.</p>
  </div>
</div>
<%= link_to  "Create new recipe", new_recipe_path %>
<div class='section_content'>
  <div class="content">
    <a href="#" class="button">JE DECOUVRE</a>
    <h1>Add your own</h1>
    <p>VIP-COOK is a sellin plateform</p>
  </div>
</div>
<%= link_to 'ALL MY INGREDIENTS', ingredients_path %>
<%= link_to 'ADD INGREDIENTS', new_ingredient_path %>


<div class="section_contact">
  <div class="contact">
    <a href="#" class="button">JE DECOUVRE</a>
    <h1>how does it work ?</h1>
    <p>VIP-COOK .</p>
  </div>
</div>
